body{
    overflow: hidden;
    margin: 0;
}

#canvas{
    position: relative;
    z-index: 0;
}

#input{
    z-index: 1;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 250px;
    height: 75px;
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.3s background ease-in;
    text-align: center;
    font-size: 2rem;
}

#input:hover{
    cursor: text;
    background-color: rgb(209, 209, 209);
}